.Rproj.user
.Rhistory
.RData
.Ruserdata

_book/

_bookdown_files/

data/

media/cook_county_sids_deaths_files/

media/cook_county_sids_deaths.html

rsconnect/

cook_county_sids_mortality.rds

render1c0e93d133415.rds

_targets/

markdown_output/
