.Rproj.user
.Rhistory
.RData
.Ruserdata

_book/

_bookdown_files/

data/

media/cook_county_sids_deaths_files/

media/cook_county_sids_deaths.html

rsconnect/

cook_county_sids_mortality.rds

render1c0e93d133415.rds

_targets/

markdown_output/

/.quarto/

_output/

20-methods_files/

30-results_files/

tables_and_figures/

*.html

sandbox.rmd
